#title-header {
  display: flex;
  justify-content: space-between;
  margin-top: 0px;
  margin-bottom: 10px;
  padding-left: 10px;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 40px;
  background: black;
  color: #7e7e7e;
}

#content {
  width: 80%;
  height: 200%;
  display: flex;
  padding-left: 10%;
  padding-right: 10%;
}

#table {
  width: 30%;
}

#table-contents {
  width: 70%;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 6px 0px 6px 20px;
}

#table-second-level {
  width: 40%;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 6px 0px 6px 20px;
}

.main-container {
  width: 100%;
  height: auto;
  border-top: 1px solid rgba(0, 0, 0, .5);
}

.table {
  width: 100%;
  height: 40px;
  text-align: center;
  margin-bottom: 6px;
}

#products {
  width: 100%;
}

.primary-button {
  width: 100%;
  height: 50px;
}
