#table-contents {
  display: flex;
  padding: 10px 10px 10px 10px;
}

#orders {
  width: 50%;
}

#products {
  width: 50%;
}

.order {
  width: 100%;
  background: #F7F7F7;
  border: 0.6px solid #FFF0F7;
  box-shadow: 0 1px 5px rgba(0, 0, 0, .5);
  margin-bottom: 6px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 6px;
}

.product {
  width: 100%;
  background: #F7F7F7;
  border: 0.6px solid darkgray;
  box-shadow: 0 1px 5px rgba(0, 0, 0, .5);
  margin-bottom: 6px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 6px;
}

.label {
  width: 200px;
}

.selected {
  background: #FFF0F7;
}

.edit {
  margin-left: 50px;
}
