#table-contents {
  display: flex;
  padding: 10px 10px 10px 10px;
}

#categories {
  width: 30%;
  display: flex;
  flex-direction: column;
}

#products {
  width: 70%;
  display: flex;
  flex-direction: column;
  margin-left: 12px;
}

.category {
  width: 100%;
  height: 70px;
}

.add-product {
  width: 100%;
  height: 60px;
  border: 0.6px solid darkgray;
  box-shadow: 0 1px 5px rgba(0, 0, 0, .5);
  margin-bottom: 6px;
  padding-left: 6px;
}

.new-product-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 140px;
  border: 0.6px solid darkgray;
  box-shadow: 0 1px 5px rgba(0, 0, 0, .5);
  margin-bottom: 6px;
  padding-left: 6px;
  background: #FFF0F7;
  opacity: 0.8;
  padding-top: 12px;
  padding-bottom: 12px;
}

.new-category-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 400px;
  border: 0.6px solid darkgray;
  box-shadow: 0 1px 5px rgba(0, 0, 0, .5);
  margin-bottom: 6px;
  padding-left: 6px;
  background: #FFF0F7;
  opacity: 1;
  padding-top: 12px;
  padding-bottom: 12px;
  z-index: 100;
}

.label {
  width: 200px;
}

.save-button {
  width: 80px;
  opacity: 1;
  justify-content: center;
}

