#containter {
  width: 100%;
  background: #F7F7F7;
  border: 0.6px solid darkgray;
  box-shadow: 0 1px 5px rgba(0, 0, 0, .5);
  margin-bottom: 6px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 6px;
}
