/* You can add global styles to this file, and also import other style files */
.row {
  display: flex;
  flex-direction: row;
}

.hidden {
  display: none;
}

.selected {
  background: #FFF0F7;
}

.accented-content {
  width: 132px;
  color: #5e5e5e;
  background: #FFF0F7;
  text-align: center;
  border-radius: 18px;
  border: 2px solid #d3d3d3;
  padding-top: 6px;
  padding-bottom: 6px;
}

.right {
  align-self: flex-end;
}

.big-margin {
  margin-left: 20px;
}

.edit-input {
  width: 60px;
}

.edit-input-long {
  width: 100px;
}

.edit-input-middle {
  width: 200px;
}

.edit-input-large {
  width: 300px;
}

.first-column {
  width: 200px;
}

.center {
  justify-content: center;
}

.area-long {
  width: 200px;
  height: 300px;
}
